@model List<(string Type, string CustomerName, string Review)>

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/css/Review.css" rel="stylesheet" />
</head>
<body>

    <div class="container" style="width:70%;">
        <div style="display: flex; justify-content: center;">
            <h2 class="decorative-heading">Reviews</h2>
        </div>
        <table class="table table-striped table-bordered table-hover" id="userTable">
            <thead>
                <tr>
                    <th class="col-md-4">Type</th>
                    <th class="col-md-4">Customer Name</th>
                    <th class="col-md-4">Reviews</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.GroupBy(x => x.Type))
                {
                    <tr style="background-color:#C0C0C0" class="parent" data-id="@group.Key">
                        <td colspan="3">@group.Key</td>
                    </tr>
                    foreach (var item in group)
                    {
                        <tr class="child child-@group.Key" style="display:none;">
                            <!-- Start hidden -->
                            <td></td>
                            <td>@item.CustomerName</td>
                            <td>@item.Review</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    <script>
        $(document).ready(function () {
            $(".parent").click(function () {
                var targetClass = $(this).data("id");
                var children = $(".child-" + targetClass);
                if (children.is(":visible")) {
                    children.fadeOut(30);  
                } else {
                    children.fadeIn(500);  
                }
            });
            $(".decorative-heading").hide().slideDown(1000);
        });
    </script>
</body>
</html>